body {
    margin: 0;
}

html,
html * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h3 {
    padding: 10px 10px;
    margin: 0px;
    margin-bottom: 15px;
}
h3::after {
    display: block;
    background-color: black;
    margin-top: 2px;
    width: 15px;
    height: 3px;
    content: '';
}
