.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    padding: 30px;
    border: 1px solid #cecece;
}

.login > * {
    margin-bottom: 5px;

    margin-top: 5px;
}
